.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 1.25rem;
    padding: 0rem 0.6rem;
}

.formItems {
    margin: 0.3rem;
    padding: 0.6rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $principal-font; 
    font-size: $small-fontSize;
    font-weight: 500;
    margin-bottom: 1rem;
        &__input {
            @extend .formItems;
            width: 31.25rem;
            border: none;
            border-bottom: 0.18rem solid #6d0244;
        }
        &__select {
            @extend .formItems;
            width: 21.87rem;
        }
        &__btn {
            @extend .formItems;
            width: 31.25rem;
            background-color: #6d0244;
            color: #d0cbd3;
            border: none;
            font-weight: bold;
        }
}