* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d0cbd3;
/*     overflow-x: hidden; */
}

h1 {
    @include titulos ($principal-color, $primary-fontSize);
    @extend .selection;
}

h2 {
    @include titulos ($secondary-color, $secondary-fontSize);
    @extend .selection;
}

p {
    color: #000000;
    font-family: $principal-font;
    font-size: $standard-fontSize;
    text-align: justify;
    @extend .selection;
        strong {
            @extend .selection;
        }
        em {
            @extend .selection;
        }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
        &__title {
            padding: 1rem 1rem 0rem 1rem;
        }
        &__p {
            width: 80%;
            padding: 0rem 1.5rem;
        }
        &__iframe {
            width: 21.87rem;
            height: 15.31rem;
        }
}

.title {
    margin: 1.5rem 0rem 1.5rem 2rem;
}

.aboutMe {
    display: flex;
    justify-content: center;
        p {
            align-self: center;
            width: 60rem;
            padding: 0rem 2rem;
            font-size: $small-fontSize;
            text-align: justify;
        }
}

.container__fotoPersonal {
    display: flex;
    width: 25rem;
    height: 34.35rem;
    padding: 0rem 1.5rem;
}

.fotoPersonal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3.12rem;
}

.laPractica {
    display: flex;
    flex-direction: column;
        h2 {
            margin: 1.5rem 0rem 1rem 2rem;
        }
        p {
            margin: 0rem 2rem 0.5rem 2rem;
        }
        &__gridGallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "gallery__firstChild gallery__secondChild gallery__thirdChild"
                                "gallery__fourthChild gallery__fifthChild gallery__sixthChild";
            width: fit-content;
            gap: 0.6rem;
            padding: 0.6rem;
            flex-wrap: wrap;
        }
        &__iframe {
            width: 35rem;
            height: 19.68rem;
            align-self: center;
            margin-top: 1rem;
        }
}

.talleres {
    &__gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "talleres__firstChild talleres__secondChild talleres__thirdChild";
        width: fit-content;
        height: auto;
        gap: 0.3rem;
        padding: 0.6rem;
        margin: 0.6rem 0rem;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.3rem;
                    img {
                        object-fit: cover;
                        width: 15vw;
                        height: auto;
                        margin-bottom: 0.3rem;
                        border-radius: 100%;
                        flex-wrap: nowrap;
                    }
                    h2 {
                        padding-top: 0.6rem;
                    }
                    p {
                        font-size: $small-fontSize;
                        padding: 1rem;
                    }
            }
    }
    &__firstChild {
        grid-area: "talleres__firstChild";
    }   
    &__secondChild {
        grid-area: "talleres__secondChild";
    }
    &__thirdChild {
        grid-area: "talleres__thirdChild";
    }
}

.contact__flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    display: flex;
    align-self: center;
    &__iframe {
        width: 28.12rem;
        height: 15.62rem;
    }
}