$generic-transition:  0.5s;
$gradient-color: linear-gradient(to top, #4e2b55f8, #2d0c35);
$principal-font: 'Roboto', sans-serif;
$principal-color: #3d054a;
$secondary-color: #4c075c;
$primary-fontSize: 2rem;
$secondary-fontSize: 1.6rem;
$standard-fontSize: 1.25rem;
$small-fontSize: 1rem;